{% extends 'base.html' %}

{% block title %}LineMaths{%endblock%}

{%block body%}

<div class="convert">
    <ul>
        <li><a href="/temp">Температура</a></li>
        <li><a href="/length">Длина</a></li>
        <li><a href="/weight">Масса</a></li>
        <li><a href="/pressure">Давление</a></li>
        <li><a href="/difficult-length">Более сложный перевод длины</a></li>
        <li><a href="/difficult-weight">Более сложный перевод массы</a></li>
        <li><a href="/electricity">Электрический ток</a></li>
    </ul>
</div>

{%endblock%}